body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

* {
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}
